.DS_Store
/nbproject/private/
/build/
/dist/
/scripts/3nodeslocal/log/
/scripts/3nodeslocal/paxoslog/
/scripts/3nodeslocal/derby.log
/scripts/3nodesnew/log/
/scripts/3nodesnew/paxosLog/
/scripts/3nodesnew/derby.log
/scripts/3nodeslocal/paxosLog/
/log/
/scripts/newApp/log/
/scripts/newApp/paxos_large_checkpoints/
/scripts/newApp/paxos_logs/
/scripts/newApp/reconfiguration_DB/
/scripts/newApp/derby.log