.DS_Store
build.number
/nbproject/private/
/build/
/dist/
/scripts/3nodeslocal/log/
/scripts/3nodeslocal/paxoslog/
/scripts/3nodeslocal/derby.log
/scripts/3nodesnew/log/
/scripts/3nodesnew/paxosLog/
/scripts/3nodesnew/derby.log
/scripts/3nodeslocal/paxosLog/
/log/
/logs/
/scripts/newApp/log/
/scripts/newApp/paxos_large_checkpoints/
/scripts/newApp/paxos_logs/
/scripts/newApp/reconfiguration_DB/
/scripts/newApp/derby.log
/derby.log
/reconfiguration_DB/
/scripts/3nodeslocal/paxos_large_checkpoints/
/scripts/3nodeslocal/paxos_logs/
/scripts/3nodeslocal/reconfiguration_DB/
/scripts/newApp/NSlogfile
/scripts/newApp/LNSlogfile
/scripts/newApp/NSlogfile.txt
/scripts/newApp/LNSlogfile.txt
/scripts/noopTest/paxos_logs/
/scripts/noopTest/paxos_large_checkpoints/
/scripts/noopTest/reconfiguration_DB/
/scripts/singlenodetests/paxos_logs/
/scripts/singlenodetests/paxos_large_checkpoints/
/scripts/singlenodetests/reconfiguration_DB/
/scripts/singlenodetests/log/
/scripts/singlenodetests/NSlogfile.txt
/scripts/singlenodetests/LNSlogfile
/scripts/singlenodetests/LNSlogfile.txt
/scripts/singlenodetests/derby.log
/scripts/3nodeslocal/paxos_logs/
/scripts/3nodeslocal/reconfiguration_DB/
/scripts/noopTest/reconfiguration_DB/
/scripts/noopTest/paxos_large_checkpoints/
/scripts/noopTest/paxos_logs/
/scripts/singlenodetests/paxos_logs/
/scripts/singlenodetests/LNSlogfile.txt
/scripts/singlenodetests/NSlogfile.txt
/scripts/singlenodetests/reconfiguration_DB/
/scripts/singlenodetests/LNSlogfile
/scripts/singlenodetests/derby.log
/scripts/singlenodetests/log/
/derbyDB/
/jars/
/paxos_logs/
!/.travis.yml
/nbproject/
/nbbuild.xml
/private.xml
/clientKeyDB/
/bin/gpClient.sh
/bin/gpServer.sh
.paxos_logs
.gradle
/GNS-1.19.09/
/GNS-1.19.09.tgz
/GNS-1.19.11/
/GNS-1.19.12/
/GNS-1.19.12.tgz
/GNS-1.19.13/
/GNS-1.19.13.tgz