language: java
# sudo: required instructs Travis to use a "real VM" instead of a docker VM
sudo: required
jdk:
- oraclejdk8
services:
- mongodb
notifications:
  email:
    on_success: always
    on_failure: always
script:
- ./scripts/travis_checks.sh