{% include custom/sidebarconfigs.html %}

<ul id="mysidebar" class="nav">
    <li class="sidebarTitle"></li> <!-- Unused, left for spacing -->
    {% for layer1item in sidebar.layer1 %}   
    <li>
        {% if layer1item.external_url %}
        <li><a href="{{layer1item.external_url}}" target="_blank">{{layer1item.title}}</a></li>
        {% elsif layer1item.url %}
        <li><a href="{{layer1item.url | prepend: site.baseurl}}">{{layer1item.title}}</a></li>
        {% else %}
        <a href="#">{{ layer1item.title }}</a>
        <ul>
            {% for layer2item in layer1item.layer2 %}
            {% if layer2item.external_url %}
            <li><a href="{{layer2item.external_url}}" target="_blank">{{layer2item.title}}</a></li>
            {% elsif page.url == layer2item.url %} <!-- Highlight current page -->
            <li class="active"><a href="{{layer2item.url | prepend: site.baseurl}}">{{layer2item.title}}</a></li>
            {% elsif layer2item.url %}
            <li><a href="{{layer2item.url | prepend: site.baseurl}}">{{layer2item.title}}</a></li>
            {% else %}
            <li class="subfolders">
                <a href="#">{{ layer2item.title }}</a>
                <ul>
                    {% for layer3item in layer2item.layer3 %}
                    {% if layer3item.external_url %}
                    <li><a href="{{layer3item.external_url}}" target="_blank">{{layer3item.title}}</a></li>
                    {% elsif page.url == layer3item.url %}
                    <li class="active"><a href="{{layer3item.url | prepend: site.baseurl}}">{{layer3item.title}}</a></li>
                    {% else %}
                    <li><a href="{{layer3item.url | prepend: site.baseurl}}">{{layer3item.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        <!-- if you aren't using the accordion, uncomment this block:
           <p class="external">
               <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
           </p>
           -->
    </li>
</ul>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
